$history-background: #efefef;

.form-result{
    border: 1px solid #dfdfdf;
    background-color: $history-background;
    min-height: 300px;
    padding: 20px;
}

.results-block{
    padding: 50px;
    width: 50%;
}
